<div class="container mt-3">
  <div class="row">
    <div class="col-xs d-flex flex-column justify-content-center align-items-center">
      <img [src]="product.imagen" alt="" />
      <h2>{{ product.nombre }}</h2>
      <h3>${{ product.precio }}</h3>
      <p>{{ product.descripcion }}</p>
      <p><span>Categoria: </span>{{ product.categpria }}</p>
      <div class="product-btn">
        <button
          type="button"
          class="btn btn-danger btn-lg btnDelete m-1"
          (click)="Delete(product.id)"
        >
          Eliminar
        </button>
        <button
          type="button"
          class="btn btn-primary btn-lg"
          (click)="Update(product.id)"
        >
          Actualizar
        </button>
      </div>
    </div>
  </div>
</div>
