
  <div class="container-fluid">
    <div class=" row d-flex justify-content-center" >
        <div class="col-xs flex-wrap card m-1 " *ngFor="let product of ListProducts" >
            <img [src]="product.imagen" class="card-img-top"  >
            <div class="card-body">
              <p class="card-price"> ${{product.precio }}</p>
              <p class="card-name">{{ product.nombre }}</p>
              <p class="card-text">{{ product.descripcion }}</p>
              <p class="card-categorie"><span>Categorias: </span>{{ product.categpria }}</p>
            </div>
            <div class="actions d-flex flex-row justify-content-center">
                <button type="button" class="btn btn-success btn-sm" (click)="Manage(product.id)">Gestionar</button>
            </div>
          </div>
    </div>
  </div>