<!-- <div class="container">
    <div class="cardd">
      <div class="header">
        <h3>titulo de la tarjeta</h3>
      </div>
      <div class="body">
          <img src="logo.png" alt=""> 
      </div>
      <div class="footer">
         <small>footer de la tarjeta

          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur modi provident laboriosam voluptas enim. Rerum beatae veritatis voluptatum nobis error.
         </small>
      </div>
    </div>
  </div>-->

  <div class="container-fluid">
    <div class="tarjetas row d-flex justify-content-center" >
        <div class="card m-1 " *ngFor="let product of ListProducts" >
            <img [src]="product.imagen" class="card-img-top"  >
            <div class="card-body">
              <p class="card-price"> ${{product.precio }}</p>
              <p class="card-name">{{ product.nombre }}</p>
              <p class="card-text">{{ product.descripcion }}</p>
              <p class="card-categorie"><span>Categorias: </span>{{ product.categpria }}</p>
            </div>
            <div class="actions d-flex flex-row justify-content-center">
                <button type="button" class="btn btn-success btn-sm" (click)="Manage(product.id)">Gestionar</button>
            </div>
          </div>
    </div>
  </div>