.container .row .col .searchs {
    width: 50%;
}
.lblselect{
    padding-right: 10px;
}
.scroll{
    width: 100%;
    height: 50vh;
}

@media screen and (max-width: 600px){
    .container .row .col .searchs {
        width: 100%;
    }
}

